@model InterviewSchedule

@{
    ViewData["Title"] = "Update Interview Schedule";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Interview Schedule</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            @* <input type="hidden" asp-for="JobApplicationId" /> *@
            <div class="p-3">
                @* <div asp-validation-summary="All"></div>  *@
                <label for="Status">Job Application</label>
                <select asp-for="JobApplicationId" asp-items="ViewBag.JobApplicationList" class="form-control">
                    <option value="">-- Select Job Application Status --</option>
                </select>
                <div class="form-floating py-1 col-12">
                    <input asp-for="InterviewDate" type="date" class="form-control border shadow" />
                    <label asp-for="InterviewDate" class="ms-2"></label>
                    <span asp-validation-for="InterviewDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="InterviewerName" class="form-control border shadow" />
                    <label asp-for="InterviewerName" class="ms-2"></label>
                    <span asp-validation-for="InterviewerName" class="text-danger"></span>
                </div>
                <label for="InterviewMode">Interview Mode</label>
                <select asp-for="InterviewMode" asp-items="ViewBag.Modes" class="form-control">
                    <option value="">-- Select Interview Mode --</option>
                </select>

                <label for="TimeZoneId">Time Zone</label>
                <select asp-for="TimeZoneId" asp-items="ViewBag.TimeZones" class="form-control">
                    <option value="">-- Select Time Zone --</option>
                </select>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Notes" class="form-control border shadow" />
                    <label asp-for="Notes" class="ms-2"></label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <label for="Status">Status</label>
                <select asp-for="Status" asp-items="ViewBag.Statuses" class="form-control">
                    <option value="">-- Select Status --</option>
                </select>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="InterviewSchedule" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

