@model FollowUp
@{
    ViewData["Title"] = "Create Follow-up";
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Follow-up</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            @* <input type="hidden" asp-for="JobApplicationId" /> *@
            <div class="p-3">
                @* <div asp-validation-summary="All"></div>  *@
                <label for="Status">Job Application</label>
                <select asp-for="JobApplicationId" asp-items="ViewBag.JobApplicationList" class="form-control">
                    <option value="">-- Select Job Application Status --</option>
                </select>
                <div class="form-floating py-1 col-12">
                    <input asp-for="FollowUpDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control border shadow" />
                    <label asp-for="FollowUpDate" class="ms-2"></label>
                    <span asp-validation-for="FollowUpDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="FollowUpMethod" class="form-control border shadow" />
                    <label asp-for="FollowUpMethod" class="ms-2"></label>
                    <span asp-validation-for="FollowUpMethod" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="FollowUpOutcome" class="form-control border shadow" />
                    <label asp-for="FollowUpOutcome" class="ms-2"></label>
                    <span asp-validation-for="FollowUpOutcome" class="text-danger"></span>
                </div>
                
                 <label for="Status">Follow-up Status</label>
                <select asp-for="Status" asp-items="ViewBag.FollowUpStatusList" class="form-control">
                    <option value="">-- Select Follow-up Status --</option>
                </select> 
                <div class="form-floating py-1 col-12">
                    <input asp-for="Notes" class="form-control border shadow" />
                    <label asp-for="Notes" class="ms-2"></label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="FollowUpReminder" class="form-control border shadow" accept=".pdf" onchange="validateFile(this)" />
                    <label asp-for="FollowUpReminder" class="ms-2"></label>
                    <span asp-validation-for="FollowUpReminder" id="fileError" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="CompanyEmail" class="form-control border shadow" />
                    <label asp-for="CompanyEmail" class="ms-2"></label>
                    <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="FollowUp" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
